		<web-app>	
			<servlet>
				<servlet-name>Square</servlet-name>
				<servlet-class>Square</servlet-class>
			</servlet>
			<servlet-mapping>
				<servlet-name>Square</servlet-name>
				<url-pattern>/sqr</url-pattern>
			</servlet-mapping>
			<servlet>
				<servlet-name>SimpleInterest</servlet-name>
				<servlet-class>SimpleInterest</servlet-class>
			</servlet>
			<servlet-mapping>
				<servlet-name>SimpleInterest</servlet-name>
				<url-pattern>/si</url-pattern>
			</servlet-mapping>
		</web-app>							
